/* @import url(http://fonts.googleapis.com/css?family=Iceland); */

html {
    padding: 0;
}

body { 
    font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", Verdana, sans-serif;
    font-size: 11pt;
    line-height: 1.5;
    margin: 0pt;
    padding: 0;
    left: 0pt;
    width: 600pt;
}

#content {
    left: 0pt;
    margin: 0pt;
    padding: 0;
    text-align: left;
}

#table-of-contents {
    font-size: 9pt;
    position: fixed;
    right: 10em;
    top: 4em;
    background: white;
    text-align: left;
}

#orgquote {
    position: fixed;
    display: block;
    top: 77px;
    padding: 5pt;
    text-align: center;
    background-color: black;
    width: 100%;
    color: #ccc;
    box-shadow: 0px 15px 10px #fff;
    font-size: 90%;
    font-family: Courier new;
    z-index: 98;
}

#postamble {
    visibility:hidden;
}

h1.title {
    text-shadow: 2px 2px 4px #999;
    padding-top: 23px;
    padding-left: 70pt;
    font-size: 23pt;
    font-family: Courier New;
}

#linklist 
{
    position: fixed;
    font-size: 13pt;
    font-family: Courier New; 
    padding-top: 0px;
    padding-right: 0px;
    top: 107px;
    left: 0px;
    margin-top: 0px;
    width: 180px;
    background-color: #fff;
    color: black;
    box-shadow: 8px 8px 12px #ccc;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    z-index: 100;
}

#linklist a {
    color: black;
    font-weight: normal; 
    text-decoration: none;
    display:block;
    padding: 7pt;
}

#linklist ul {
    margin: 0;
    padding: 0;
}

#linklist li {
    text-align: left;
    margin: 0;
}

.timestamp {
    font-family: Courier New;
    color: #888888;
}

#linklist li:hover {
    border-left: 7px solid #537d7b;
}

pre {
    background-color: #eee;
    box-shadow: 5px 5px 5px #888;
    border: none;
    padding: 5pt;
    margin-bottom: 14pt;
    color: black;
    padding: 12pt;
    font-family: Courier New;
    font-size: 95%;
    overflow: auto; 
}

.outline-2 {
    position: relative;
    left: 100px;
    top: 100px;
    width: 650px;
    padding-bottom: 5pt;
}

#outline-container-1 {
    padding-top: 3pt;
}

.outline-2 h2 {
    font-family: Courier New; 
}

.outline-2 h3 {
    font-family: Courier New; 
}

p { 
    margin-top: 0; 
    text-align: left;
}

a:link { 
    font-weight: bold; 
    text-decoration: none; 
    color: #A34D32;
}

a:visited { 
    font-weight: normal; 
    text-decoration: none; 
    color: #6E2432;
}

a:hover, a:active { 
    text-decoration: none; 
    color: #537d7b;
}

img {
    max-width: 650px;
    max-height: 800px;
    margin-bottom: 0pt;
    margin-top: 20pt;
    border: 2px solid black;
}
